{% extends "account/email.html" %}
{% load i18n %}
{% load allauth_ui %}

{% block content %}
    {% trans "Email Addresses" as heading %}
    {% trans "The following email addresses are associated with your account:" as subheading %}

    {% #container heading=heading subheading=subheading %}
        
        {% if emailaddresses %}
            {% url 'account_email' as action_url %}
            {% #form url=action_url use_default_button="false" %}
                {{ redirect_field }}
                {% csrf_token %}

                <div class="space-y-2">
                    {% for radio in emailaddress_radios %}
                        {% with emailaddress=radio.emailaddress %}
                            <div class="form-control">
                                <label class="flex gap-3 cursor-pointer label border border-zinc-200 dark:border-zinc-700 rounded px-3 transition-colors hover:bg-zinc-50 dark:hover:bg-zinc-900">
                                    <span class="grow label-text overflow-auto py-3">
                                        {{ emailaddress.email }}
                                        {% if emailaddress.verified %}
                                            <div class="badge badge-primary outline badge-outline ml-2 text-emerald-500 px-1.5">{% trans "Verified" %}</div>
                                        {% endif %}
                                        {% if emailaddress.primary %}
                                            <div class="badge badge-secondary outline badge-outline text-emerald-500 ml-2 px-1.5">{% trans "Primary" %}</div>
                                        {% endif %}
                                    </span>
                                    <input type="radio" name="email" value="{{ emailaddress.email }}" id="{{ radio.id }}" 
                                           class="radio checked:white dark:checked:black outline" {% if radio.checked %}checked{% endif %} />
                                </label>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="divider"></div>
                <div class="flex flex-col mt-3 gap-2">
                    <button name="action_primary" type="submit" class="btn btn-primary border-1 bg-emerald-600/10 hover:bg-emerald-600/20 border-emerald-500 dark:border-emerald-800 shadow-none text-emerald-800 dark:text-emerald-100">{% trans "Make Primary" %}</button>
                    <button name="action_send" type="submit" class="btn btn-secondary border-1 bg-zinc-100 dark:bg-zinc-200/5 hover:bg-zinc-200 dark:hover:bg-zinc-200/10 border-zinc-500 dark:border-zinc-700 text-zinc-800 dark:text-zinc-200 shadow-none ">
                        {% trans "Re-send verification" %}
                    </button>
                    <button name="action_remove" type="submit" class="btn btn-warning text-sm tracking-wide text-error bg-zinc-100 dark:bg-zinc-200/5 hover:bg-rose-300/5 dark:hover:bg-rose-300/15 p-2 rounded-md shadow-none border border-zinc-500 dark:border-zinc-700  hover:border-rose-300 hover:text-rose-500 dark:hover:text-rose-400 text-zinc-800 dark:text-zinc-200">{% trans "Remove" %}</button>
                </div>
            {% /form %}
        {% else %}
            {% include "account/snippets/warn_no_email.html" %}
        {% endif %}

        {% if can_add_email %}
        <div class="divider my-2"></div>
            <h2 class="text-lg font-semibold">{% trans "Add Email Address" %}</h2>
            {% trans "Add Email" as button_text %}
            {% #form form=form url=action_url button_text=button_text use_default_button="false" %}
                {% csrf_token %}
                <button type="submit" name="action_add" class="my-3 btn bg-emerald-500 hover:bg-emerald-600 dark:bg-emerald-600 dark:hover:bg-emerald-700 text-white border-none">
                    {{ button_text }}
                </button>
            {% /form %}
        </div>
        {% else %}
        <div class="divider my-4">
            <p class="text-sm text-zinc-400"> Maximum limit of 3 email addresses reached.</p>
        </div>
        {% endif %}
    {% /container %}
{% endblock content %}