{% extends "account/login.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% load tailwind_tags %}
{% tailwind_css %}

{% block content %}
    {# 1. Prepare the subheading variable #}

    {# 2. Use ONE container, passing the heading and the new subheading variable #}
    {% #container heading="Sign in to Papertrail." subheading=subheading %}


        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_login' as action_url %}
            {% #form form=form url=action_url button_text="Sign in magically" %}
                {% csrf_token %}


            <!-- REMOVED THE DEFAULT FORGOT PASSWORD AND REMEMBER ME OPTIONS FROM THE LOGIN FORMS -->
            <!-- 
                <span>
                    {% if form.remember %}
                        <div class="items-start my-2 form-control">
                            <label class="cursor-pointer label">
                                {% render_field form.remember type="checkbox" class="bg-black w-4 h-4 rounded-4xl accent-black dark:accent-white" %}
                                <span class="ml-1 label-text">{% trans "Remember me" %}</span>
                            </label>
                        </div>
                    {% endif %}
                    
                    {{ redirect_field }}
                    {% csrf_token %}
                    <div class="flex flex-col">
                        <a class="link self-end text-sm dark:text-zinc-400" href="{% url "account_reset_password" %}">
                            {% trans "Forgot password?" %}
                        </a>
                    </div>
                </span>
            -->

            {% /form %}
        {% endif %}

        {% if LOGIN_BY_CODE_ENABLED %}
            <div class="divider divider-zinc-200 dark:divider-zinc-800 my-1 mb-2"></div>
            <a href="{{ request_login_code_url }}" class="mb-2 btn w-full rounded-3xl text-zinc-900 dark:text-zinc-100 font-medium bg-zinc-100 dark:bg-zinc-800/30 border border-zinc-200 dark:border-zinc-800 hover:bg-zinc-200 dark:hover:bg-zinc-800/50 transition-all duration-150">{% trans "Mail me a sign-in code" %}</a>
        {% endif %}

        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}

        <div class="mt-6 text-center text-sm text-zinc-500 dark:text-zinc-400">Don't have an account? <a href="{{ signup_url }}" class="text-zinc-900 dark:text-zinc-100 font-medium hover:underline">Sign up</a></div>
    {% /container %}
{% endblock content %}