{# djlint:off H006 #}
{% load i18n %}
{% load static %}
{% load allauth_ui %}
{% load tailwind_tags %}
{% tailwind_css %}

{% load allauth %}


<!DOCTYPE html>
<html data-theme="{% allauth_ui_theme %}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
            <link rel="stylesheet" href="{% static 'allauth_ui/output.css' %}">
        {% endblock extra_head %}
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    </head>
    <body class="min-h-screen bg-zinc-100 dark:bg-zinc-950 flex flex-col items-center">
        {% if messages %}
        <div x-data="{
                bannerVisible: false,
            }"
            x-show="bannerVisible"
            x-transition:enter="transition ease-out duration-500"
            x-transition:enter-start="-translate-y-10"
            x-transition:enter-end="translate-y-0"
            x-transition:leave="transition ease-in duration-300"
            x-transition:leave-start="translate-y-0"
            x-transition:leave-end="-translate-y-10"
            x-init="bannerVisible = true; setTimeout(() => { bannerVisible = false }, 5000);"
            class="fixed top-0 left-0 w-full h-auto py-6 duration-300 ease-out bg-white dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-800 text-zinc-900 shadow-sm sm:py-0 sm:h-10" x-cloak>
            {% for message in messages %}
                <div class="flex items-center justify-between w-full h-full px-3 mx-auto max-w-7xl ">
                    <span class="flex flex-col w-full h-full text-md text-center items-center justify-center leading-6 text-black duration-150 ease-out sm:flex-row sm:items-center opacity-80 hover:opacity-100">
                        <span class="flex items-center">
                            <span class="dark:text-white">Alert</span><span class="hidden w-px h-4 mx-3 rounded-full sm:block bg-neutral-200"></span>
                        </span>
                        <span class="block pt-1 pb-2 leading-none sm:inline sm:pt-0 sm:pb-0 dark:text-white">{{ message }}</span>
                    </span>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    
        <main class="grow flex flex-col justify-center w-full py-8">
            {% block content %}
            {% endblock content %}
            <div class="mx-auto [&_a]:link text-sm flex flex-row items-center justify-center gap-5 my-3 text-zinc-400">
                {% if user.is_authenticated %}
                    {% url 'account_email' as email_url %}
                    {% if email_url %}
                        <a href="{{ email_url }}">{% trans "Change Email" %}</a>
                    {% endif %}

                    {% if user.is_authenticated and user.has_usable_password %}
                        {% url 'account_change_password' as change_password_url %}
                    {% endif %}
                    
                    <a href="{% url 'socialaccount_connections' %}">Connections</a>
                    {% if change_password_url %}
                        <a href="{{ change_password_url }}">{% trans "Change Password" %}</a>
                    {% endif %}
                    {% url 'mfa_index' as mfa_url %}
                    {% if mfa_url %}
                        <a href="{{ mfa_url }}">{% trans "Two-Factor Authentication" %}</a>
                    {% endif %}
                    {% url 'usersessions_list' as usersessions_list_url %}
                    {% if usersessions_list_url %}
                        <a href="{{ usersessions_list_url }}">{% trans "Sessions" %}</a>
                    {% endif %}
                    {% url 'account_logout' as logout_url %}
                    {% if logout_url %}
                        <a href="{{ logout_url }}">{% trans "Sign Out" %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </main>
    </body>
</html>