{% extends "base.html" %}

{% block content %}
    <div role="status" class="max-w-md p-4 border border-zinc-200 dark:border-zinc-800 divide-y divide-zinc-100 dark:divide-zinc-800 rounded-xl shadow-xs animate-pulse md:p-6">
        <div class="flex items-center justify-between pb-4">
            <div>
                <div class="h-2.5 bg-zinc-100 dark:bg-zinc-800 rounded-full w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-zinc-100 dark:bg-zinc-800 rounded-full"></div>
            </div>
            <div class="h-2.5 bg-zinc-200 dark:bg-zinc-700 rounded-full w-12"></div>
        </div>
        <div class="flex items-center justify-between py-4">
            <div>
                <div class="h-2.5 bg-zinc-100 dark:bg-zinc-800 rounded-full w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-zinc-100 dark:bg-zinc-800 rounded-full"></div>
            </div>
            <div class="h-2.5 bg-zinc-200 dark:bg-zinc-700 rounded-full w-12"></div>
        </div>
        <div class="flex items-center justify-between py-4">
            <div>
                <div class="h-2.5 bg-zinc-100 dark:bg-zinc-800 rounded-full w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-zinc-100 dark:bg-zinc-800 rounded-full"></div>
            </div>
            <div class="h-2.5 bg-zinc-200 dark:bg-zinc-700 rounded-full w-12"></div>
        </div>
        <div class="flex items-center justify-between py-4">
            <div>
                <div class="h-2.5 bg-zinc-100 dark:bg-zinc-800 rounded-full w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-zinc-100 dark:bg-zinc-800 rounded-full"></div>
            </div>
            <div class="h-2.5 bg-zinc-200 dark:bg-zinc-700 rounded-full w-12"></div>
        </div>
        <div class="flex items-center justify-between py-4">
            <div>
                <div class="h-2.5 bg-zinc-100 dark:bg-zinc-800 rounded-full w-24 mb-2.5"></div>
                <div class="w-32 h-2 bg-zinc-100 dark:bg-zinc-800 rounded-full"></div>
            </div>
            <div class="h-2.5 bg-zinc-200 dark:bg-zinc-700 rounded-full w-12"></div>
        </div>
        <span class="sr-only">Loading...</span>
    </div>
{% endblock %}