<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    {% load tailwind_tags %}
    {% tailwind_css %}
    
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>

<body class="dark:bg-zinc-950 px-2">
    {% if request.path != '/' %}
        <main id="main" class="ml-0 sm:ml-64 px-4 min-h-screen bg-white dark:bg-zinc-950 transition-all duration-200">
    {% else %}
        <main id="main" class="ml-0 px-4 min-h-screen bg-white dark:bg-zinc-950 transition-all duration-200">
    {% endif %}
        {% block content %} {% endblock %}
    </main>
    {% block sidebar %} {% include "core/sidebar.html" %} {% endblock %}
</body>

<script>
    (function() {
        const userTz = Intl.DateTimeFormat().resolvedOptions().timeZone;
        const cookieName = 'user_timezone';

        const currentCookie = document.cookie
            .split('; ')
            .find(row => row.startsWith(cookieName + '='));
            
        const currentTz = currentCookie ? currentCookie.split('=')[1] : null;
        if (userTz !== currentTz) {
            document.cookie = `${cookieName}=${userTz}; path=/; max-age=31536000; SameSite=Lax`;
            window.location.reload();
        }
    })();
</script>
</html>
