{% load i18n %}
<div class="container pt-1 mx-auto mt-4">
    <div class="w-11/12 p-10 flex flex-col text-justify-center mx-auto rounded-lg md:w-8/12 lg:w-7/12 xl:w-md">

        <h1 class="mb-3 text-center text-3xl text-zinc-900 dark:text-zinc-50 tracking-tight font-medium">{{ heading }}</h1>
        
        {% if subheading %}
            <p class="mb-3 text-center text-zinc-500 dark:text-zinc-400 text-sm">{{ subheading }}</p>
        {% endif %}
        
        {{ children }}
    </div>
</div>