{% load i18n %}
<div class="container pt-1 mx-auto mt-4">
    <div class="w-11/12 p-10 flex flex-col justify-center mx-auto rounded-lg sm:p-5 md:w-8/12 lg:w-7/12 xl:w-4/12 md:p-10 xl:p-13 bg-zinc-50 dark:bg-zinc-900/50 border border-zinc-300 dark:border-zinc-800">
        
        <h1 class="mb-3 text-3xl font-semibold text-zinc-900 dark:text-zinc-50">{{ heading }}</h1>
        
        {% if subheading %}
            <p class="mb-3 text-zinc-500 dark:text-zinc-400 text-sm">{{ subheading }}</p>
        {% endif %}
        
        {{ children }}
    </div>
</div>