{% load slippers %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% load tailwind_tags %}
{% tailwind_css %}
{% var render_fields=render_fields|default:"true" %}
{% var use_default_button=use_default_button|default:"true" %}
<form class="py-3" method="post" action="{{ url }}">
    {% for error in form.non_field_errors %}
        <span class="my-1 flex items-center max-w-full mt-1 text-sm font-light tracking-wide text-error bg-rose-300/10 p-2 rounded-md border border-rose-300 dark:border-rose-300/30 text-rose-500 dark:text-rose-400">{{ error }}</span>
    {% endfor %}
    {% if render_fields == "true" %}
        {% for field in form.visible_fields %}
            {% if field.name != "remember" %}
                {% #form_field field=field %}
                {% /form_field %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ children }}
    {% if use_default_button == "true" %}
        <button type="submit" class="my-3 btn btn-primary font-medium bg-emerald-500 dark:bg-emerald-700 hover:bg-emerald-600 dark:hover:bg-emerald-800 shadow-none border-none">{{ button_text }}</button>
    {% endif %}
</form>
